{{ template "layout/header" .}}
<script src="/static/ckeditor/ckeditor.js"></script>
<!-- ==================== single-blog-section start ====================-->
<section id="single-blog-section" class="single-blog-section w100dt mb-50">
	<div class="container">	
		<div class="row">
			<div class="col m1"></div>
			<div class="col m10 s12">
				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>高级评论</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="/" class="breadcrumb">首页</a>
						<a href="#" onclick="javascript:history.back(-1);" class="breadcrumb active">返回</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav><br>
				<div class="blogs mb-30">
					<div class="card">
						<form action="/api/saying/{{.saying_id}}/comment" method="post" id="advance_reply_form" class="contact-form">
							<input type="hidden" id="quotetid" name="sayingid" value="{{.saying_id}}">
							<input type="hidden" id="docutype" name="docutype" value="0">
							<label for="title">可以添加表情等</label>
							<div class="contact-input">
								<div class="edui-container" style="width: 100%; z-index: 999;">
									<div class="edui-editor-body message">
										<textarea class="form-control" placeholder="内容" name="message" id="editor1" style="height: 300px; display: none;"></textarea>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-between">
								<div class="right">
									<button type="button" class="btn btn-primary" id="replysubmit" data-loading-text="正在提交..."> 评论 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.blogs -->
			</div>
			<!-- colm8 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#single-blog-section -->
<!-- ==================== single-blog-section end ====================-->

<script>
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		
		toolbarStartupExpanded: false,
		toolbar: [{
			name: 'document',
			items: ['Source', '-', 'Preview']
		}, {
			name: 'clipboard',
			items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo']
		}, {
			name: 'basicstyles',
			items: ['Bold', 'Italic', 'Underline', 'RemoveFormat']
		}, {
			name: 'colors',
			items: ['TextColor']
		}, {
			name: 'paragraph',
			items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-']
		}, {
			name: 'links',
			items: ['Link', 'Unlink']
		}, {
			name: 'insert',
			items: ['Image', 'Smiley']
		}, '/', {
			name: 'styles',
			items: ['Styles', 'Format', 'Font', 'FontSize']
		}, {
			name: 'tools',
			items: ['Maximize', 'ShowBlocks']
		}, ],
		height: '25rem',
		resize_minHeight: '5rem',
		image_previewText: " ",
		upload_hidden: false,
		removeDialogTabs: 'image:advanced;image:Link',
		filebrowserImageUploadUrl: "/api/image/upload",
		filebrowserUploadUrl: "/api/image/upload",
		extraPlugins: 'uploadimage',
		codeSnippet_theme: 'zenburn'
	});
	var qrform = $("#advance_reply_form")
	var jsubmit = $('#replysubmit');
	var maxSize = 1 * 1024 * 1024
	qrform.on("keydown", function() {
		if (event.keyCode == 13) {
			return false;
		}
	})
	jsubmit.on('click', function() {
		if (CKEDITOR.instances.editor1.getData().length == 0) {
			$.alert("写点什么再提交吧 ^_^")
			return;
		}
		qrform.reset();
		jsubmit.button('loading');
		var replydata = qrform.serializeObject();
		replydata.message = CKEDITOR.instances.editor1.getData();
		console.log(replydata)
		$.xpost(qrform.attr('action'), replydata, function(code, message) {
			console.log(code, ":", message)
			if (code == 200) {
				alert("评论成功，刷新查看")
				setTimeout(function() {	
					history.back()
				}, 500)
			} else if (code < 0) {
				alert(message);
				jsubmit.button('reset');
			} else {
				jsubmit.button('reset');
			}
		});
		return false;
	});

	function afterAddNewSaying() {
		var jsubmit = $('#replysubmit')
		jsubmit.button('reset');
	}

	function trimChar(str, char, type) {
		if (char) {
			if (type == 'left') {
				return str.replace(new RegExp('^\\' + char + '+', 'g'), '');
			} else if (type == 'right') {
				return str.replace(new RegExp('\\' + char + '+$', 'g'), '');
			}
			return str.replace(new RegExp('^\\' + char + '+|\\' + char + '+$', 'g'), '');
		}
		return str.replace(/^\s+|\s+$/g, '');
	}
</script>
{{ template "layout/footer" .}}
