{{ template "layout/header" .}}
{{/*<script src="//cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>*/}}
<script src="/static/ckeditor/ckeditor.js"></script>
<main id="body">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="card">
					<div class="card-header"> 更新文章 </div>
					<div class="card-body">
						<form action="/api/article/{{.article.ID}}/update" method="post" id="articleform">
							<input type="hidden" name="doctype" value="0">
							<input type="hidden" name="reply_id" value="{{.freply.ID}}">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="标题" name="title" value="{{.article.Title}}" id="title">
							</div>
							<div class="form-group">
								<div class="edui-container" style="width: 100%; z-index: 999;">
									<div class="edui-editor-body message">
										<textarea class="form-control" placeholder="内容" name="message" id="message" style="height: 300px; display: none;">
                                            {{.freply.Message}}
                                        </textarea>
									</div>
								</div>
							</div>
							{{ template "layout/captcha" .}}
							<div class="d-flex justify-content-between">
								<div class="attachlist_parent">
									<a class="small text-left" href="javascript:void(0)">
										<label class="addattach" id="addattach">
											<i class="icon-folder-open-o"></i> 添加附件 <input type="file" id="add_attach" multiple="multiple" class="invisible">
										</label>
									</a>
									{{if .attachs}}
									<fieldset class="fieldset">
										<legend>上传的附件：</legend>
										<ul class="attachlist">
											{{range .attachs}}
											<li aid="{{.ID}}">
												<a href="/{{.Filename}}" target="_blank">
													<i class="icon filetype {{.Filetype}}"></i>
													{{.Orgfilename}}
												</a>
												<a onclick="deleteAttach(this, {{.ArticleID}}, {{.ID}})" href="javascript:void(0)" class="delete ml-3"><i
													 class="icon-remove"></i> 删除</a>
											</li>
											{{end}}
										</ul>
									</fieldset>
									{{end}}
								</div>
								<div class="text-right">
									<button type="button" class="btn btn-primary" id="articlesubmit" data-loading-text="正在提交..."> 更新文章 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
	//判断是否已登录  如未登录 跳转到登录页
	if (!{{.islogin}}) {
	    location.href="/login.html"
	}
	if ({{.article.UserID}} != {{.sessions.Userid}}) {
	    $.alert("您没有权限编辑")
	    setTimeout(function () {
	        location.href = "/"
	    },2000)
	}
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		toolbarStartupExpanded: false,
		toolbar: [{
			name: 'document',
			items: ['Source', '-', 'Preview']
		}, {
			name: 'clipboard',
			items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo']
		}, {
			name: 'basicstyles',
			items: ['Bold', 'Italic', 'Underline', 'RemoveFormat']
		}, {
			name: 'colors',
			items: ['TextColor']
		}, {
			name: 'paragraph',
			items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-']
		}, {
			name: 'links',
			items: ['Link', 'Unlink']
		}, {
			name: 'insert',
			items: ['Image', 'Smiley', 'Table', 'HorizontalRule', 'SpecialChar']
		}, '/', {
			name: 'styles',
			items: ['Styles', 'Format', 'Font', 'FontSize']
		}, {
			name: 'tools',
			items: ['Maximize', 'ShowBlocks']
		}, ],
		height: '25rem',
		resize_minHeight: '5rem',
		image_previewText: " ",
		upload_hidden: false,
		removeDialogTabs: 'image:advanced;image:Link',
		filebrowserImageUploadUrl: "/api/image/upload",
		filebrowserUploadUrl: "/api/image/upload",
		//enterMode:CKEDITOR.ENTER_BR, //屏蔽换行符<br>
		//shiftEnterMode:CKEDITOR.ENTER_P, //屏蔽段落<p>
		extraPlugins: 'uploadimage',
		// extraPlugins:['codesnippet','uploadimage'],
		codeSnippet_theme: 'zenburn'
	});
	var qrform = $("#articleform")
	var jsubmit = $('#articlesubmit');
	var attachUploader = $("#add_attach");
	var jattachparent = $('.attachlist_parent');
	var maxSize = 1 * 1024 * 1024
	jsubmit.on('click', function() {
		qrform.reset();
		jsubmit.button('loading');
		var replydata = qrform.serializeObject();
		replydata.message = CKEDITOR.instances.message.getData();
		console.log(replydata)
		// 验证验证码
		var captcha = getCaptcha()
		var captchaKey = getCaptchaKey()
		captchaPass = virefyCaptcha(captcha, captchaKey)
		if (captcha.length == 0) {
			$.alert("验证码不能为空")
			return
		} else {
			if (captchaPass != 200) {
				$.alert("验证码错误")
				refreshCaptcha()
				jsubmit.button('reset');
				return
			}
		}
		$.xpost(qrform.attr('action'), replydata, function(code, message) {
			console.log(code, ":", message)
			if (code == 200) {
				afterAddNewArticle()
				$.alert(message);
				setTimeout(function() {
					location.href = "/articles"
				}, 1000)
			} else if (code < 0) {
				$.alert(message);
				jsubmit.button('reset');
			} else {
				jform.find('[name="' + code + '"]').alert(message).focus();
				jsubmit.button('reset');
			}
		});
		return false;
	});

	function afterAddNewArticle() {
		var jsubmit = $('#replysubmit')
		jsubmit.button('reset');
	}

	function trimChar(str, char, type) {
		if (char) {
			if (type == 'left') {
				return str.replace(new RegExp('^\\' + char + '+', 'g'), '');
			} else if (type == 'right') {
				return str.replace(new RegExp('\\' + char + '+$', 'g'), '');
			}
			return str.replace(new RegExp('^\\' + char + '+|\\' + char + '+$', 'g'), '');
		}
		return str.replace(/^\s+|\s+$/g, '');
	}
	attachUploader.on('change', function(e) {
		sessionStorage.setItem("test", 1)
		var fd = new FormData()
		attachfile = attachUploader[0].files[0]
		console.log(attachfile)
		var filesSize = attachfile.size
		// 禁止上传大于1m的文件
		console.log(attachfile.size)
		if (filesSize > maxSize) {
			$.alert("文件大于1M，不能上传")
			return
		}
		fd.append("upload", attachfile)
		fd.append("article_id", {{.article.ID}})
		fd.append("reply_id", {{.freply.ID}})
		$.ajax({
			url: "/api/attach/add",
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					// 并发下会 服务端 session 写入会有问题，由客户端控制改为串行
					if (!jattachparent.find('.attachlist').length) {
						jattachparent.append(
							'<fieldset class="fieldset"><legend>上传的附件</legend><ul class="attachlist"><ul></fieldset>');
					}
					// 添加福建区域
					message = res.data
					addAttachLi(message.url, message.filetype, 1, message.orgfilename)
					$.alert("上传成功")
					/*setTimeout(function(){
					    location.reload()
					}, 2000)*/
				} else {
					$.alert(res.message)
					return
				}
			}
		})
	});

	function addAttachLi(url, filetype, aid, orgfilename) {
		$('.attachlist').append('<li aid="' + aid + '"><a class="attachfile" orgfilename="' + orgfilename + '"  href="' +
			message.url + '" target="_blank"><i class="icon filetype ' + filetype + '"></i> ' + orgfilename +
			'</a> <a onclick="deleteAttach(this, {{.article.ID}}, ' + aid +
			')"  href="javascript:void(0);" class="delete ml-2"><i class="icon-remove"></i> 删除</a></li>');
	}

	function deleteAttach(elem, articleId, attachId) {
		var fd = new FormData()
		fd.append("article_id", articleId)
		fd.append("attach_id", attachId)
		$.ajax({
			url: "/api/attach/delete",
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					if ($('.attachlist').find("li").length == 1) {
						$('.fieldset').remove()
					} else {
						$(elem).parent().remove()
					}
				} else {
					$.alert(res.message)
					return
				}
			}
		})
	}
</script>
{{ template "layout/footer" .}}
