{{ template "layout/header" .}}
<script src="/static/ckeditor/ckeditor.js"></script>
<!-- ==================== single-blog-section start ====================-->
<section id="single-blog-section" class="single-blog-section w100dt mb-50">
	<div class="container">	
		<div class="row">
			<div class="col m1"></div>
			<div class="col m10 s12">
				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>写文章</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="/" class="breadcrumb">首页</a>
						<a href="/newsaying.html" class="breadcrumb active">写说说</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav><br>
				<div class="blogs mb-30">
					<div class="card">
						<form action="/api/article" method="post" id="articleform" class="contact-form">
							<label for="title">标题</label>
							<div class="contact-input">
								<input type="text" class="validate" placeholder="标题" name="title" value="" id="title2">
							</div>
							<label for="title">内容</label>
							<div class="contact-input">
								<div class="edui-container" style="width: 100%; z-index: 999;">
									<div class="edui-editor-body message">
										<textarea class="form-control" placeholder="内容" name="message" id="message" style="height: 300px; display: none;"></textarea>
									</div>
								</div>
							</div>
							{{ template "layout/captcha" .}}<br>
							<div class="d-flex justify-content-between">
								{{if eq .sessions.Isadmin "1"}}
								<div class="attachlist_parent">
									<a class="small text-left" href="javascript:void(0)">
										<label class="addattach" id="addattach">
											<i class="icon-folder-open-o"></i> 添加附件 <input type="file" id="add_attach" multiple="multiple" class="invisible">
										</label>
									</a>
								</div>
								{{end}}
								<div class="right">
									<button type="button" class="btn btn-primary" id="articlesubmit" data-loading-text="正在提交..."> 提交 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.blogs -->
			</div>
			<!-- colm8 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#single-blog-section -->
<!-- ==================== single-blog-section end ====================-->

<script>
	//判断是否已登录  如未登录 跳转到登录页
	if (!{{.islogin }}) {
	    location.href = "/login.html"
	}
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		
		toolbarStartupExpanded: false,
		toolbar: [{
			name: 'document',
			items: ['Source', '-', 'Preview']
		}, {
			name: 'clipboard',
			items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo']
		}, {
			name: 'basicstyles',
			items: ['Bold', 'Italic', 'Underline', 'RemoveFormat']
		}, {
			name: 'colors',
			items: ['TextColor']
		}, {
			name: 'paragraph',
			items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-']
		}, {
			name: 'links',
			items: ['Link', 'Unlink']
		}, {
			name: 'insert',
			items: ['Image', 'Smiley', 'Table', 'HorizontalRule', 'SpecialChar']
		}, '/', {
			name: 'styles',
			items: ['Styles', 'Format', 'Font', 'FontSize']
		}, {
			name: 'tools',
			items: ['Maximize', 'ShowBlocks']
		}, ],
		height: '25rem',
		resize_minHeight: '5rem',
		image_previewText: " ",
		upload_hidden: false,
		removeDialogTabs: 'image:advanced;image:Link',
		filebrowserImageUploadUrl: "/api/image/upload",
		filebrowserUploadUrl: "/api/image/upload",		
		extraPlugins: 'uploadimage',		
		codeSnippet_theme: 'zenburn'
	});
	var qrform = $("#articleform")
	var jsubmit = $('#articlesubmit');
	var attachUploader = $("#add_attach");
	var jattachparent = $('.attachlist_parent');
	var maxSize = 2 * 1024 * 1024
	qrform.on("keydown", function() {
		if (event.keyCode == 13) {
			return false;
		}
	})
	jsubmit.on('click', function() {
		var attachfiles = ""
		if (jattachparent.find('.attachlist').length) {
			console.log($('.attachlist').find("li").length, $('.attachlist').find("li"))
			var attachfiles = ""
			$('.attachlist').find("a[class='attachfile']").each(function() {
				attachfiles += "," + $(this).attr("href") + "|"
				attachfiles += $(this).attr("orgfilename")
			})
			attachfiles = trimChar(attachfiles, ',', 'left')
			console.log(attachfiles)
		}
		// 验证验证码
		var captcha = getCaptcha()
		var captchaKey = getCaptchaKey()
		captchaPass = virefyCaptcha(captcha, captchaKey)
		if (captcha.length == 0) {
			$.alert("验证码不能为空")
			return
		} else {
			if (captchaPass != 200) {
				$.alert("验证码错误")
				refreshCaptcha()
				return
			}
		}
		var cktitle = $("#title2").val()
		if (cktitle.length <= 1) {
			$.alert("标题不能为空且不能小于1个字")
			return
		}
		var ckmessage = CKEDITOR.instances.message.getData();
		if (ckmessage.length < 10) {
			$.alert("内容不能为空且不能小于10字")
			return
		}
		qrform.reset();
		jsubmit.button('loading');
		var replydata = qrform.serializeObject();
		replydata.message = ckmessage
		replydata.attachfiles = attachfiles
		console.log(replydata)
		// return;
		$.xpost(qrform.attr('action'), replydata, function(code, message) {
			console.log(code, ":", message)
			// return;
			if (code == 200) {
				afterAddNewArticle()
				alert(message);
				setTimeout(function() {
					location.href = "/"
				}, 500)
			} else {
				$.alert(message)
				return
			}
		});
		return false;
	});

	function afterAddNewArticle() {
		var jsubmit = $('#articlesubmit')
		jsubmit.button('reset');
	}

	function trimChar(str, char, type) {
		if (char) {
			if (type == 'left') {
				return str.replace(new RegExp('^\\' + char + '+', 'g'), '');
			} else if (type == 'right') {
				return str.replace(new RegExp('\\' + char + '+$', 'g'), '');
			}
			return str.replace(new RegExp('^\\' + char + '+|\\' + char + '+$', 'g'), '');
		}
		return str.replace(/^\s+|\s+$/g, '');
	}
	attachUploader.on('change', function(e) {
		sessionStorage.setItem("test", 1)
		var fd = new FormData()
		attachfile = attachUploader[0].files[0]
		var filesSize = attachfile.size
		
		console.log(attachfile.size)
		if (filesSize > maxSize) {
			$.alert("文件大于2M，不能上传")
			return
		}
		fd.append("upload", attachfile)
		$.ajax({
			url: "/api/attach/upload",
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					// 并发下会 服务端 session 写入会有问题，由客户端控制改为串行
					if (!jattachparent.find('.attachlist').length) {
						jattachparent.append(
							'<fieldset class="fieldset"><legend>上传的附件</legend><ul class="attachlist"><ul></fieldset>');
					}
					message = res.data
					addAttachLi(message.url, message.filetype, 1, message.orgfilename)
					$.alert("上传成功")
				} else {
					$.alert(res.message)
					return
				}
			}
		})
	});

	function addAttachLi(url, filetype, aid, orgfilename) {
		$('.attachlist').append('<li aid="' + aid + '"><a class="attachfile" orgfilename="' + orgfilename + '"  href="' +
			message.url + '" target="_blank"><i class="icon filetype ' + filetype + '"></i> ' + orgfilename +
			'</a> <a onclick="deleteAttach(this)" href="javascript:void(0);" class="delete ml-2"><i class="icon-remove"></i> 删除</a></li>'
		);
	}

	function deleteAttach(elem) {
		if ($('.attachlist').find("li").length == 1) {
			$('.fieldset').remove()
		} else {
			$(elem).parent().remove()
		}
	}

	function randomChar(num) {
		var x = "0123456789qwertyuioplkjhgfdsazxcvbnm";
		var tmp = "";
		var timestamp = new Date().getTime();
		for (var i = 0; i < num; i++) {
			tmp += x.charAt(Math.ceil(Math.random() * 100000000) % x.length);
		}
		return "newarticle" + timestamp + tmp
	}
	$('form[method="POST"]').append('<input type="hidden" name="xss_token" value="' + "uid" + {{.sessions.Userid}} + randomChar(11) + '" />');
</script>
{{ template "layout/footer" .}}
