{{ define "layout/captcha" }}
<label for="usernameo">验证码</label>
<div id="captchagroup" class="contact-input">
	<input type="text" class="validate" name="captcha">
</div>
<div class="contact-input">
	<img id="captchaimg" src="?vcode.htm" style="width: 250px;height: 50px;" onclick="refreshCaptcha()" style="cursor:pointer" title="点击更新" nofollow="">
</div>

<script>
	var captchaimg = $("#captchaimg")
	refreshCaptcha()

	function refreshCaptcha() {
		// 加载验证码
		$.ajax({
			url: "/api/capacha?" + Math.random(),
			method: "GET",
			success: function(res) {
				if (res.code == 200) {
					captchaimg.attr("src", res.data.captcha_base64)
					var captchakey = $("#captchagroup").find("input[name='captchakey']")
					if (!captchakey.val()) {
						$("#captchagroup").append("<input type='hidden' class='form-control' name='captchakey' value='" + res.data.cap_key +
							"'>")
					} else {
						captchakey.val(res.data.cap_key)
					}
					console.log(captchakey.val())
				} else {
					alert("发生系统错误，请联系管理员")
				}
			}
		})
	}

	function getCaptcha() {
		var captcha = $("#captchagroup").find("input[name='captcha']")
		return captcha.val()
	}

	function getCaptchaKey() {
		var captchakey = $("#captchagroup").find("input[name='captchakey']")
		return captchakey.val()
	}

	function virefyCaptcha(captcha, key) {
		var pass = 200
		$.ajax({
			url: "/api/capacha",
			method: "POST",
			data: {
				cap_key: key,
				captcha: captcha
			},
			async: false,
			success: function(res) {
				pass = res.code
			}
		})
		console.log("pass=", pass)
		return pass
	}
	</script>
{{ end }}
