{{ define "layout/footer" }}
<!-- ==================== footer-section Start ==================== -->
<footer id="footer-section" class="footer-section w100dt">
	<div class="container">
		<ul class="footer-social-links w100dt center-align mb-30">
			<li><a href="#" class="linkedin" title="@Mreminisce">QQ&nbsp;</a></li>
			<li><a href="#" class="twitter" title="@舟">微信&nbsp;</a></li>
			<li><a href="#" class="google-plus" title="1285149688@qq.com">邮箱&nbsp;</a></li>
			<li><a href="https://music.163.com/#/user/home?id=1333662282" class="pinterest" title="@Mreminisce">网易云</a></li>
			<li><a href="https://space.bilibili.com/4411497" class="instagram" title="@Mreminisce">Bilibili</a></li>
			<li><a href="https://github.com/Mreminisce" class="facebook" title="@Mreminisce">Github</a></li>
		</ul>
		<p class="center-align">
			<i class="icofont icofont-ssl-security"></i> - 
			<a href="http://www.beian.miit.gov.cn">赣ICP备 - 19006549 号</a>
		</p>
	</div>
	<!-- container -->
</footer>
<!-- /#footer-section -->
<!-- ==================== footer-section End ==================== -->
<!-- my custom js -->
<!-- <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script> -->
<script type="text/javascript" src="/static/js/materialize.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<!-- my custom js -->
<script type="text/javascript" src="/static/js/custom.js"></script>
<script type="text/javascript">
</script>
<!-- js -->
<script>
	var debug = DEBUG = 0;
	var url_rewrite_on = 0;
	var fid = 0;
	var uid = 0;
	var gid = 0;
</script>
<script src="/static/js/bbs.js?1.0"></script>
<script src="/static/js/md5.js"></script>
<div id="scroll_to_top" class="d-fixed" style="position: fixed; bottom: 80px; right: 10px; width: 70px; height: 70px;">
	<a href="javascript:void(0);" style="width: 70px; height: 70px; display: inline-block; background: url(/static/img/scroll_top.png) no-repeat; outline: none;"
	 title="返回顶部"></a>
</div>
<script>
	// 返回顶部
	var jscroll_to_top = $('#scroll_to_top');
	jscroll_to_top.fadeOut(1);
	$(window).scroll(function() {
		if ($(window).scrollTop() >= 500) {
			jscroll_to_top.fadeIn(300);
		} else {
			jscroll_to_top.fadeOut(300);
		}
	});
	jscroll_to_top.on('click', function() {
		$('html,body').animate({
			scrollTop: '0px'
		}, 100);
	});
</script>
</body>
</html>
{{end}}
