{{ define "layout/header" }}
{{ template "layout/header.inc" .}}
<!-- ==================== header-section Start ==================== -->
<header id="header-section" class="header-section w100dt navbar-fixed">
	<nav class="nav-extended main-nav">
		<div class="container">
			<div class="row">
				<div class="nav-wrapper w100dt">
					<div class="logo left">
						<a href="/" class="brand-logo">
							<img src="/static/img/logo.png" alt="brand-logo">
						</a>
					</div>
					<!-- logo -->
					<div>
						<a href="#" data-activates="mobile-demo" class="button-collapse" style="float: left;left: 15px;">
							<i class="icofont icofont-navigation-menu"></i>
						</a>
						<ul class="main-menu center-align hide-on-med-and-down" id="nav-mobile">
							<li><a href="/articles">文章</a></li>
							<li><a href="/sayings">说说</a></li>
							{{if .islogin}}
							<li><a href="/my_favorite.html">个人中心</a></li>
							<li class="active"><a href="/my.html">{{.sessions.Username}}</a></li>
							{{if eq .sessions.Isadmin "1"}}
							<li><a id="adminindex" href="/admin/index.html">后台管理</a></li>
							{{end}}
							<li><a id="logout" href="#">退出</a></li>
							{{else}}
							<li><a href="/login.html">登录/注册</a></li>
							{{end}}
						</ul>
						<!-- /.main-menu -->
						<!-- ******************** sidebar-menu ******************** -->
						<ul class="side-nav" style="left: 0;" id="mobile-demo">
							<li class="snavlogo center-align">
								<a href="/"><img src="/static/img/logo.png" alt="logo"></a>
							</li><br>
							<li><a class="btn" href="/articles">文章</a></li>
							<li><a class="btn" href="/sayings">说说</a></li>
							{{if .islogin}}
							<li><a class="btn" href="/my_favorite.html">个人中心</a></li>
							<li class="active"><a class="btn" href="/my.html">{{.sessions.Username}}</a></li>
							{{if eq .sessions.Isadmin "1"}}
							<li><a class="btn" id="adminindex" href="/admin/index.html">后台管理</a></li>
							{{end}}
							<li><a class="btn" id="mlogout" href="#">退出</a></li>
							{{else}}
							<li><a class="btn" href="/login.html">登录/注册</a></li>
							{{end}}
						</ul>
						<a href="#" data-activates="mobile-new" class="button-collapse" style="float: right;right: 15px;">
							<i class="icofont icofont-ui-add" style="border: 1;"></i>
						</a>
						<ul class="side-nav" style="left: 0;" id="mobile-new">
							<li class="snavlogo center-align">
								<a href="/"><img src="/static/img/logo.png" alt="logo"></a>
							</li><br>
							<li>
								<a class="btn" href="/newarticle.html">写文章</a>
							</li>
							<li>
								<a class="btn" href="/newsaying.html">写说说</a>
							</li>
						</ul>
					</div>
					<!-- main-menu -->
				</div>
				<!-- /.nav-wrapper -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</nav>
</header>
<!-- /#header-section -->
<!-- ==================== header-section End ==================== -->
<!-- ==================== blog-slider-section start ==================== -->
<section id="blog-slider-section" class="blog-slider-section w100dt mb-10">
</section>
<!-- /#blog-slider-section -->
<!-- ==================== blog-slider-section end ==================== -->
<script>
	$("#adminindex").attr("href", "/admin/index.html?token=" + sessionStorage.getItem("admin_token"))
    $("#logout").on('click', function () {
        $.xget("/api/logout", function (code, message) {
            console.log(code, message)
            alert("退出成功")
            setTimeout(function () {
                location.href = "/"
            }, 500)
        });
    })
	$("#mlogout").on('click', function () {
        $.xget("/api/logout", function (code, message) {
            console.log(code, message)
            alert("退出成功")
            setTimeout(function () {
                location.href = "/"
            }, 500)
        });
    })
</script>
{{ end }}
