{{ define "layout/header" }}
{{ template "layout/header.inc" .}}
<!-- ==================== header-section Start ==================== -->
<header id="header-section" class="header-section w100dt navbar-fixed">
	<nav class="nav-extended main-nav">
		<div class="container">
			<div class="row">
				<div class="nav-wrapper w100dt">
					<div class="logo left">
						<a href="/" class="brand-logo">
							<img src="/static/img/logo.png" alt="brand-logo">
						</a>
					</div>
					<!-- logo -->
					<div>
						<a href="#" data-activates="mobile-demo" class="button-collapse">
							<i class="icofont icofont-navigation-menu"></i>
						</a>
						<ul id="nav-mobile" class="main-menu center-align hide-on-med-and-down">
							<li><a href="/">首页</a></li>
							<li><a href="/sayings">说说</a></li>
							{{if .islogin}}
							<li><a href="/my_favorite.html">个人中心</a></li>
							<li class="active"><a href="/my.html">{{.sessions.Username}}</a></li>
							{{if eq .sessions.Isadmin "1"}}
							<li><a id="adminindex" href="/admin/index.html">后台管理</a></li>
							{{end}}
							<li><a id="logout" href="#">退出</a></li>
							{{else}}
							<li><a href="/login.html">登录/注册</a></li>
							{{end}}
						</ul>
						<!-- /.main-menu -->
						<!-- ******************** sidebar-menu ******************** -->
						<ul class="side-nav" id="mobile-demo">
							<li class="snavlogo center-align"><img src="/static/img/logo.png" alt="logo"></li>
							<li><a href="/">首页</a></li>
							<li><a href="/sayings">说说</a></li>
							{{if .islogin}}
							<li><a href="/my_favorite.html">个人中心</a></li>
							<li class="active"><a href="/my.html">{{.sessions.Username}}</a></li>
							{{if eq .sessions.Isadmin "1"}}
							<li><a id="adminindex" href="/admin/index.html">后台管理</a></li>
							{{end}}
							<li><a id="logout" href="#">退出</a></li>
							{{else}}
							<li><a href="/login.html">登录</a></li>
							{{end}}
						</ul>
					</div>
					<!-- main-menu -->
				</div>
				<!-- /.nav-wrapper -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</nav>
</header>
<!-- /#header-section -->
<!-- ==================== header-section End ==================== -->
<!-- ==================== blog-slider-section start ==================== -->
<section id="blog-slider-section" class="blog-slider-section w100dt mb-10">
</section>
<!-- /#blog-slider-section -->
<!-- ==================== blog-slider-section end ==================== -->
<script>
	$("#adminindex").attr("href", "/admin/index.html?token=" + sessionStorage.getItem("admin_token"))
    $("#logout").on('click', function () {
        $.xget("/api/logout", function (code, message) {
            console.log(code, message)
            alert("退出成功")
            setTimeout(function () {
                location.href = "/"
            }, 500)
        });
    })
    if ({{.fid }}) {
        $('#fid-{{.fid}}').addClass('active');
    } else {
        $('#fid-0').addClass('active');
    }
</script>
{{ end }}
