{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">			
			<nav class="breadcrumb-nav w100dt">
				<div class="center" role="group">
					<a class="btn active" href="/">返回首页</a>
				</div>
			</nav>
		</div><br>
		<div class="row">
			<div class="col m9 s12"><br>
				<div class="contact-me">
					<div class="row">
						<div class="col m2 s12"></div>
						<div class="col m10 s12">
							<div class="contact-things">
								<div class="c-text p-0">
                                    <h4 class="l-blue">· 欢迎交流探讨和反馈问题</h4><br>
									<h4 class="l-blue">· 有兴趣的朋友可以互关</h4>&nbsp;
                                </div>
                                <div class="c-text p-0"><br>
                                    <span class="text-muted">
                                        1. Q Q：@Mreminisce</span><br>
                                    <span class="text-muted">
                                        2. 邮箱：1285149688@qq.com</span><br>
                                    <span class="text-muted">
                                        3. 微信：@舟</span><br>
                                    <span class="text-muted">
                                        4. 网易云音乐：@Mreminisce</span><br>
                                    <span class="text-muted">
                                        5. Bilibili：@Mreminisce</span><br>	
                                    <span class="text-muted">
                                        6. Github：@Mreminisce</span><br>	
                                    <span class="text-muted">
                                        7. 知乎：@学渣</span><br>	
                                    <span class="text-muted">
										8. 微博：@逆抚__</span><br>
									<span class="text-muted">
										9. ......</span><br><br><br>	
                                </div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
            <!-- colm9 -->
			{{ template "my/sidebar" }}
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->
{{ template "layout/footer" .}}
