{{ template "layout/header" .}}
<script>
    if ({{ .islogin }}) {
        location.href = "/"
    }
</script>
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
    <div class="container">
        <div class="row">
            <div class="col m4 s12"></div>
            <div class="col m4 s12">
                <div class="contact-me">
                    <div class="sidebar-title center-align">
                        <h2>用户登录</h2>
                    </div>
                    <hr><br>
                    <div class="row">
                        <div class="col m12 s12">
                            <form class="contact-form" action="/api/login" method="post" id="form">
                                <label for="username">用户名</label>
                                <div class="contact-input">
                                    <input type="text" id="username" name="username"  class="validate">
                                </div>
                                <label for="password">密码</label>
                                <div class="contact-input">
                                    <input type="password" id="password" name="password"  class="validate">
                                </div>
                                <button type="button" class="waves-effect waves-light right" id="submit">登录</button>
                            </form>  
                            <a href="/register.html" class="text-muted right"><small>用户注册</small></a>
                            <!-- /.contact-things -->
                        </div>
                        <!-- colsm6 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- /.contact-me -->
            </div>
            <!-- colm9 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->

<!-- /.sidebar-testimonial -->
<script>
    var jform = $('#form');
    var jsubmit = $('#submit');
    var jusername = $('#username');
    var jpassword = $('#password');
    var referer = '/';
    jsubmit.on('click', function () {
        jform.reset();
        var replydata = jform.serializeObject();
        $.ajax({
            method: "post",
            url: jform.attr('action'),
            data: replydata,
            acync: false,
            success: function (res) {
                if (res.code == 200) {
                    alert("登录成功")
                    setTimeout(function () {
                        $.location("/")
                    }, 100)
                } else {
                    alert("用户名或密码错误")
                    jsubmit.button('reset');
                }
            }
        })
        return false;
    });
</script>
{{ template "layout/footer" }}
