{{ template "layout/header" .}}
<script src="/static/ckeditor/ckeditor.js"></script>
<!-- ==================== single-blog-section start ====================-->
<section id="single-blog-section" class="single-blog-section w100dt mb-50">
	<div class="container">	
		<div class="row">
			<div class="col m1"></div>
			<div class="col m10 s12">
				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>编辑说说</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="/" class="breadcrumb">首页</a>
						<a href="/newsaying.html" class="breadcrumb active">写文章</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav><br>
				<div class="blogs mb-30">
					<div class="card">
						<form action="/api/saying/{{.saying.ID}}/update" method="post" id="sayingform" class="contact-form">
							<input type="hidden" name="doctype" value="0">
							<input type="hidden" name="comment_id" value="{{.fcomment.ID}}">
							<label for="title">说说</label>
							<div class="contact-input">
								<div class="edui-container" style="width: 100%; z-index: 999;">
									<div class="edui-editor-body message">
										<textarea class="form-control" placeholder="内容" name="message" id="message" style="height: 300px; display: none;">
											{{.fcomment.Message}}
										</textarea>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-between">
								<div class="right">
									<button type="button" class="btn btn-primary" id="sayingsubmit" data-loading-text="正在提交..."> 确认更新 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.blogs -->
			</div>
			<!-- colm8 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#single-blog-section -->
<!-- ==================== single-blog-section end ====================-->

<script>
	//判断是否已登录  如未登录 跳转到登录页
	if (!{{.islogin}}) {
	    location.href="/login.html"
	}
	if ({{.saying.UserID}} != {{.sessions.Userid}}) {
	    alert("您没有权限编辑")
	    setTimeout(function () {
	        location.href = "/"
	    },500)
	}
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		toolbarStartupExpanded: false,
		toolbar: [{
			name: 'document',
			items: ['Source', '-', 'Preview']
		}, {
			name: 'clipboard',
			items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo']
		}, {
			name: 'basicstyles',
			items: ['Bold', 'Italic', 'Underline', 'RemoveFormat']
		}, {
			name: 'colors',
			items: ['TextColor']
		}, {
			name: 'paragraph',
			items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-']
		}, {
			name: 'links',
			items: ['Link', 'Unlink']
		}, {
			name: 'insert',
			items: ['Image', 'Smiley', 'Table', 'HorizontalRule', 'SpecialChar']
		}, '/', {
			name: 'styles',
			items: ['Styles', 'Format', 'Font', 'FontSize']
		}, {
			name: 'tools',
			items: ['Maximize', 'ShowBlocks']
		}, ],
		height: '25rem',
		resize_minHeight: '5rem',
		image_previewText: " ",
		upload_hidden: false,
		removeDialogTabs: 'image:advanced;image:Link',
		filebrowserImageUploadUrl: "/api/image/upload",
		filebrowserUploadUrl: "/api/image/upload",		
		extraPlugins: 'uploadimage',		
		codeSnippet_theme: 'zenburn'
	});
	var qrform = $("#sayingform")
	var jsubmit = $('#sayingsubmit');
	var maxSize = 1 * 1024 * 1024
	jsubmit.on('click', function() {
		qrform.reset();
		jsubmit.button('loading');
		var replydata = qrform.serializeObject();
		replydata.message = CKEDITOR.instances.message.getData();
		console.log(replydata)		
		$.xpost(qrform.attr('action'), replydata, function(code, message) {
			console.log(code, ":", message)
			if (code == 200) {
				afterAddNewSaying()
				alert(message);
				setTimeout(function() {
					location.href = "/sayings"
				}, 500)
			} else if (code < 0) {
				alert(message);
				jsubmit.button('reset');
			} else {
				jsubmit.button('reset');
			}
		});
		return false;
	});

	function afterAddNewSaying() {
		var jsubmit = $('#replysubmit')
		jsubmit.button('reset');
	}

	function trimChar(str, char, type) {
		if (char) {
			if (type == 'left') {
				return str.replace(new RegExp('^\\' + char + '+', 'g'), '');
			} else if (type == 'right') {
				return str.replace(new RegExp('\\' + char + '+$', 'g'), '');
			}
			return str.replace(new RegExp('^\\' + char + '+|\\' + char + '+$', 'g'), '');
		}
		return str.replace(/^\s+|\s+$/g, '');
	}
</script>
{{ template "layout/footer" .}}
