{{ template "layout/header" .}}
<script src="/static/ckeditor/ckeditor.js"></script>
<!-- ==================== single-blog-section start ====================-->
<section id="single-blog-section" class="single-blog-section w100dt mb-50">
	<div class="container">	
		<div class="row">
			<div class="col m1"></div>
			<div class="col m10 s12">
				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>写说说</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="/" class="breadcrumb">首页</a>
						<a href="#" class="breadcrumb active">写说说</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav><br>
				<div class="blogs mb-30">
					<div class="card">
						<form action="/api/saying" method="post" id="sayingform" class="contact-form">
							<label for="title">说说</label>
							<div class="contact-input">
								<div class="edui-container" style="width: 100%; z-index: 999;">
									<div class="edui-editor-body message">
										<textarea class="form-control" placeholder="内容" name="message" id="message" style="height: 300px; display: none;"></textarea>
									</div>
								</div>
							</div>
							
							<div class="d-flex justify-content-between">
								<div class="right">
									<button type="button" class="btn btn-primary" id="sayingsubmit" data-loading-text="正在提交..."> 发表说说 </button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /.blogs -->
			</div>
			<!-- colm8 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#single-blog-section -->
<!-- ==================== single-blog-section end ====================-->

<script>
	//判断是否已登录  如未登录 跳转到登录页
	if (!{{.islogin }}) {
	    location.href = "/login.html"
	}
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		
		toolbarStartupExpanded: false,
		toolbar: [{
			name: 'document',
			items: ['Source', '-', 'Preview']
		}, {
			name: 'clipboard',
			items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo']
		}, {
			name: 'basicstyles',
			items: ['Bold', 'Italic', 'Underline', 'RemoveFormat']
		}, {
			name: 'colors',
			items: ['TextColor']
		}, {
			name: 'paragraph',
			items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-']
		}, {
			name: 'links',
			items: ['Link', 'Unlink']
		}, {
			name: 'insert',
			items: ['Image', 'Smiley', 'Table', 'HorizontalRule', 'SpecialChar']
		}, '/', {
			name: 'styles',
			items: ['Styles', 'Format', 'Font', 'FontSize']
		}, {
			name: 'tools',
			items: ['Maximize', 'ShowBlocks']
		}, ],
		height: '25rem',
		resize_minHeight: '5rem',
		image_previewText: " ",
		upload_hidden: false,
		removeDialogTabs: 'image:advanced;image:Link',
		filebrowserImageUploadUrl: "/api/image/upload",
		filebrowserUploadUrl: "/api/image/upload",		
		extraPlugins: 'uploadimage',		
		codeSnippet_theme: 'zenburn'
	});
	var qrform = $("#sayingform")
	var jsubmit = $('#sayingsubmit');
	var maxSize = 1 * 1024 * 1024
	qrform.on("keydown", function() {
		if (event.keyCode == 13) {
			return false;
		}
	})
	jsubmit.on('click', function() {
		var ckmessage = CKEDITOR.instances.message.getData();
		if (ckmessage.length < 1) {
			$.alert("内容不能为空且不能小于1字")
			return
		}
		qrform.reset();
		jsubmit.button('loading');
		var commentdata = qrform.serializeObject();
		commentdata.message = ckmessage
		console.log(commentdata)
		// return;
		$.xpost(qrform.attr('action'), commentdata, function(code, message) {
			console.log(code, ":", message)
			// return;
			if (code == 200) {
				afterAddNewSaying()
				alert(message);
				setTimeout(function() {
					location.href = "/sayings"
				}, 500)
			} else {
				$.alert(message)
				return
			}
		});
		return false;
	});

	function afterAddNewSaying() {
		var jsubmit = $('#sayingsubmit')
		jsubmit.button('reset');
	}

	function trimChar(str, char, type) {
		if (char) {
			if (type == 'left') {
				return str.replace(new RegExp('^\\' + char + '+', 'g'), '');
			} else if (type == 'right') {
				return str.replace(new RegExp('\\' + char + '+$', 'g'), '');
			}
			return str.replace(new RegExp('^\\' + char + '+|\\' + char + '+$', 'g'), '');
		}
		return str.replace(/^\s+|\s+$/g, '');
	}

	function randomChar(num) {
		var x = "0123456789qwertyuioplkjhgfdsazxcvbnm";
		var tmp = "";
		var timestamp = new Date().getTime();
		for (var i = 0; i < num; i++) {
			tmp += x.charAt(Math.ceil(Math.random() * 100000000) % x.length);
		}
		return "newsaying" + timestamp + tmp
	}
	$('form[method="POST"]').append('<input type="hidden" name="xss_token" value="' + "uid" + {{.sessions.Userid}} + randomChar(11) + '" />');
	function toggleclass(ele) {
		$(ele).toggleClass("tagactive")
	}
</script>
{{ template "layout/footer" .}}
