{{ template "layout/header" .}}
<script src="//cdn.ckeditor.com/4.12.1/basic/ckeditor.js"></script>
<!-- ==================== single-blog-section start ====================-->
<section id="single-blog-section" class="single-blog-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col m8 s12">
				<div class="card mb-30">
					{{$sesid := .sessions.Userid}}
					<div class="card">
						<div class="card-content w100dt">
							<ul class="post-mate-time left mb-30">
								<li>
									<p class="hero left">
										 By - <a href="{{if eq .saying.UserID $sesid}} /my.html {{else}}/user/{{.saying.UserID}}/info.html{{end}}" class="l-blue">
											 {{.saying.User.Username}}
											</a>
									</p>
								</li>
								<li>
									<i class="icofont icofont-ui-calendar"></i>{{.saying.CreatedAt.Unix | strtime}}</li>
							</ul>
							<ul class="post-mate right mb-30">
								<li class="like">
									<a href="#">
										<i class="icofont icofont-eye"></i>{{.saying.ViewsCnt}}</a>
								</li>
								<li class="comment">
									<a href="#">
										<i class="icofont icofont-comment"></i>{{.saying.CommentsCnt}}</a>
								</li>
								{{if eq .fcomment.UserID .sessions.Userid}}
								<li class="comment">
									<a href="/saying/{{.saying.ID}}/edit.html">
										<i class="icofont icofont-edit"></i>编辑</a>
								</li>
								{{end}}
							</ul>
							<p class="w100dt mb-10" isfirst="1">
								<hr>{{.fcomment.Message | unescaped}}
							</p>
						</div>
						<!-- /.card-content -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.blogs -->	
				<div class="peoples-comments w100dt mb-30">
					<div class="sidebar-title center-align">
						<h2> 评论数 {{.saying.CommentsCnt}}</h2>
					</div>
					{{$isadmin := .session.Isadmin}}
					{{range $index,$comment := .commentlist}}
					<div class="comment-area w100dt">
						<div class="comment w100dt mb-20">
							<div class="left">
								<a href="{{if eq $comment.UserID $sesid}} /my.html {{else}}/user/{{$comment.UserID}}/info.html{{end}}">
									<img style="height: 40px; width: 40px;" src="{{$comment.User.Avatar}}" alt="Image">
								</a>
							</div>
							<!-- /.ppic -->
							<div class="pname">
								<h4 class="mb-10">
									<a href="#" class="card-title l-blue">{{$comment.User.Username}}</a>
									<small class="floor mr-0">&nbsp; {{$index | plus1}} 楼&nbsp;&nbsp;&nbsp;&nbsp;</small>
									<small><i class="icofont icofont-ui-calendar"></i>
										{{$comment.CreatedAt.Unix | strtime}} 
									</small>
								</h4>
								<p class="comment-text mb-10">{{$comment.Message | unescaped}}</p>
							</div>
							<!-- /.pname -->									
						</div>
						<!-- /.comment -->
					</div>
					{{end}}
					<!-- /.comment-area -->
				</div>
				<!-- /.peoples-comments -->
				<div class="leave-comment">
					<div class="sidebar-title center-align">
						<h2>添加评论</h2>
					</div>
					{{if .sessions.Username}}
					<form action="/api/saying/{{.saying.ID}}/comment" method="post" id="quick_comment_form" class="comment-area w100dt">
						<input type="hidden" id="quotetid" name="sayingid" value="{{.saying.ID}}">
						<input type="hidden" id="docutype" name="docutype" value="0">
						<div class="message mt-1">
							<textarea class="form-control" id="editor1" placeholder="内容" name="message"></textarea>
						</div>
						<button id="commentsubmit" type="button" class="btn right" id="submit" data-loading-text="正在提交...">
							评论 
						</button>
						<a class="right" href="#" id="advanced_comment"> 高级评论 &nbsp;</a>
					</form>
					{{else}}
					<li class="comment newcomment media">
						<a role="button" class="btn btn-default btn-block xn-back col-lg-6 mx-auto mb-3" target="_blank" href="/login.html">登录后可评论</a>
					</li>
					{{end}}
					<!-- /.comment-area -->
				</div>
				<!-- /.leave-comment -->
			</div>
			<!-- colm8 -->
			<div class="col s12 m4 l4">
				<div class="sidebar-testimonial mb-30">
					<div class="sidebar-title center-align">
						<h2>Hi Its Me!</h2>
					</div>
					<!-- /.sidebar-title -->
					<div class="carousel carousel-slider center" data-indicators="true">
						<div class="carousel-item">
							<div class="item-img">
								<span>R</span>
							</div>
							<h2>Rakibul Hassan</h2>
							<small>Web Design & Development</small>
							<p> Sedut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque. </p>
						</div>
					</div>
				</div>
				<!-- /.sidebar-testimonial -->
				<div class="sidebar-followme w100dt mb-30">
					<div class="sidebar-title center-align">
						<h2>Follow Me</h2>
					</div>
					<!-- /.sidebar-title -->
					<ul class="followme-links w100dt">
						<li class="mrb15">
							<a href="#" class="facebook">
								<i class="icofont icofont-social-facebook"></i>
								<small class="Followers white-text">105 Likes</small>
							</a>
						</li>
						<li class="mrb15">
							<a href="#" class="twitter">
								<i class="icofont icofont-social-twitter"></i>
								<small class="Followers white-text">50 Follows</small>
							</a>
						</li>
						<li>
							<a href="#" class="google-plus">
								<i class="icofont icofont-social-google-plus"></i>
								<small class="Followers white-text">39 Follows</small>
							</a>
						</li>
						<li class="mrb15">
							<a href="#" class="linkedin">
								<i class="icofont icofont-brand-linkedin"></i>
								<small class="Followers white-text">50 Follows</small>
							</a>
						</li>
						<li class="mrb15">
							<a href="#" class="pinterest">
								<i class="icofont icofont-social-pinterest"></i>
								<small class="Followers white-text">50 Follows</small>
							</a>
						</li>
						<li>
							<a href="#" class="instagram">
								<i class="icofont icofont-social-instagram"></i>
								<small class="Followers white-text">39 Likes</small>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.sidebar-followme -->
			</div>
			<!-- colm4 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#single-blog-section -->
<!-- ==================== single-blog-section end ====================-->

<script>
	CKEDITOR.replace('message', {
		language: 'zh-cn',
		disallowedContent: '<script >',
		toolbarStartupExpanded: false,
		toolbar: [],
		height: '8rem',
		resize_minHeight: '5rem',
	});
	var qrform = $("#quick_comment_form")
	var jsubmit = $('#commentsubmit');
	jsubmit.on('click', function() {
		if (CKEDITOR.instances.editor1.getData().length == 0) {
			$.alert("写点什么再提交吧 ^_^")
			return;
		}		
		qrform.reset();
		jsubmit.button('loading');
		var commentdata = qrform.serializeObject();
		commentdata.message = CKEDITOR.instances.editor1.getData();
		console.log(commentdata)
		$.xpost(qrform.attr('action'), commentdata, function(code, message) {
			console.log(code, ":", message)
			if (code == 200) {
				alert("评论成功")
				setTimeout(function() {
					// addNewCommentElement()
					location.reload()
				}, 500)
			} else if (code < 0) {
				alert(message);
				jsubmit.button('reset');
			} else {
				jform.find('[name="' + code + '"]').alert(message).focus();
				jsubmit.button('reset');
			}
		});
		return false;
	});

	function addNewCommentElement() {
		var jsubmit = $('#commentsubmit')
		var s = '<ul>' + '<li class="media comment" data-pid="5" data-uid="2">' +
			'<a href="?user-2.htm" class="mr-3" tabindex="-1">' +
			'<img class="avatar-3" src="upload/avatar/000/2.png?1563802634"> ' + '</a>' + '<div class="media-body">' +
			'<div class="d-flex justify-content-between small text-muted">' + '           <div> ' +
			'<span style="padding-bottom:0;margin-bottom:0;color:; ">' +
			'<i class="iconfont icon-v1" style="font-size: !important;">管理员 </i> ' + '</span>' + '<span class="username">' +
			'<a href="?user-2.htm" class="text-muted font-weight-bold">{{.sessions.Username}}</a>' + '</span>' +
			'<span class="date text-grey ml-2">2小时前</span>' + '</div> ' + '<div class="text-right text-grey"> ' +
			'<style>.haya-comment-like .haya-comment-like-loved {color: var(--secondary) !important;}</style> ' +
			'<a href="javascript:void(0)" data-tid="1" data-pid="5" class="text-grey comment_comment mr-3">' +
			'<i class="icon-comment" title="引用"></i> ' + '<span class="d-none">引用</span>' + '</a> ' +
			'<a href="?comment-update-5.htm" class="text-grey comment_update mr-3">' + '<i class="icon-edit" title="编辑"></i> ' +
			'<span class="d-none">编辑</span>' + '</a> ' +
			'<a data-href="?comment-delete-5.htm" data-confirm-text="确定删除吗？" href="javascript:void(0);" class="text-grey comment_delete _confirm mr-3">' +
			'<i class="icon-remove" title="删除"></i> ' + '<span class="d-none">删除</span>' + '</a> ' +
			'<span class="floor-parent"> ' + '<span class="floor mr-0">5</span>楼 ' + '</span>' + '</div>' + '</div>' +
			'<div class="message mt-1 break-all"><p>玩儿翁</p> ' + '</div>' + '</div> ' + '</li>' + '</ul>';
		var jli = $(s).find('li');
		jli.insertBefore($('.commentlist > .comment').last());
		jsubmit.button('reset');
		// 楼层 +1
		var jfloor = $('#newfloor');
		jfloor.html(xn.intval(jfloor.html()) + 1);
		// 评论数 +1
		var jcomments = $('.comments');
		jcomments.html(xn.intval(jcomments.html()) + 1);
	}

	function myfavourite(tid, ele) {
		var fd = new FormData()
		fd.append("sayingid", tid)
		$.ajax({
			url: "/api/saying/" + tid + "/favourite",
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					if (res.data.action == 1) {
						$(ele).removeClass('js-haya-favorite-add').addClass('js-haya-favorite-del').attr('title', '取消收藏');
						$(ele).find(".icon").removeClass('icon-star-o').addClass('icon-star').attr("aria-label", '取消收藏');
						$(ele).find(".haya-favorite-btn").text('取消');
						$(".haya-favorite-show-users").find(".haya-favorite-users").html([]);
						$(".haya-favorite-user-count").text(res.data.fav_num);
					} else {
						$(ele).removeClass('js-haya-favorite-del').addClass('js-haya-favorite-add').attr('title', '收藏');
						$(ele).find(".icon").removeClass('icon-star').addClass('icon-star-o').attr("aria-label", '收藏');
						$(ele).find(".haya-favorite-btn").text('收藏');
						$(".haya-favorite-show-users").find(".haya-favorite-users").html([]);
						$(".haya-favorite-user-count").text(res.data.fav_num);
					}
				} else {
					$.alert(res.message)
					return
				}
			}
		})
	}
	$("#advanced_comment").on("click", function() {
		location.href = "/saying/{{.saying.ID}}/acomment.html"
	})
</script>
{{ template "layout/footer" .}}
