{{ template "layout/header" .}}
<script src="//cdn.ckeditor.com/4.12.1/basic/ckeditor.js"></script>
<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>

<main id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 main">
                
                <ol class="breadcrumb d-none d-md-flex">
                    <li class="breadcrumb-item"><a href="/" aria-label="首页"><i class="icon-home"></i></a></li>
                </ol>
                <div class="card card-saying">
                    <div class="card-body">
                        <div class="media">
                            <a href="?user-1.htm" tabindex="-1">
                                <img class="avatar-3 mr-3" src="{{.saying.User.Avatar}}">
                            </a>
                            <div class="media-body">
                                <div class="d-flex justify-content-between small">
                                    <div>
                                        <span class="username">
                                            <a href="?user-1.htm" class="text-muted font-weight-bold">{{.saying.User.Username}}</a>
                                        </span>
                                        <span class="date text-grey ml-2">
                                            {{.saying.CreatedAt.Unix | strtime}}
                                        </span>
                                        <span class="text-grey ml-2">
                                            <i class="icon-eye"></i>
                                            {{.saying.ViewsCnt}}
                                        </span>
                                    </div>
                                    {{/*如果是作者本人操作*/}}
                                    {{/*{{if islogin}}*/}}
                                    {{if eq .fcomment.UserID .sessions.Userid}}
                                    <div>
                                        <a href="/saying/{{.saying.ID}}/edit.html" class="text-grey mr-2 comment_update"><i class="icon-edit"></i> 编辑</a>
                                        <a data-href="/saying/{{.saying.ID}}/delete.html" href="javascript:void(0);" class="text-grey comment_delete" isfirst="1"><i class="icon-remove"></i> 删除</a>
                                    </div>
                                    {{end}}
                                    {{/*{{end}}*/}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div style="overflow-x: scroll;" class="message break-all" isfirst="1">
                            {{.fcomment.Message | unescaped}}
                        </div>
                        <div class="plugin d-flex justify-content-center mt-3">
                            <style>
                                .haya-favoriter {
                                    position: relative;
                                }
                                .haya-favorite-show-users {
                                    position: absolute;
                                    top: 5px;
                                    z-index: 100;
                                    width: 100%;
                                }
                                .haya-favorite-show-users .haya-favorite-users {
                                    max-height: 250px;
                                    overflow-y: auto;
                                }
                            </style>
                        </div>
                    </div>
                </div>

                <div class="card card-commentlist">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>最新回复</b> (<span class="comments">{{.comment_list_len}}</span>)
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled commentlist">
                            {{$isadmin := .session.Isadmin}}
                            {{range $index,$comment := .commentlist}}
                            <li class="media comment" data-pid="2" data-uid="2">
                                <a href="?user-2.htm" class="mr-3" tabindex="-1">
                                    <img class="avatar-3" src="{{$comment.User.Avatar}}">
                                </a>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between small text-muted">
                                        <div>
                                            <span style="padding-bottom:0;margin-bottom:0;color:; ">
                                                <i class="iconfont icon-v1" style="font-size: !important;">
                                                    {{$comment.User.Group.Name}} </i>
                                            </span>
                                            <span class="username">
                                                <a href="/user.htm?id={{$comment.UserID}}" class="text-muted font-weight-bold">{{$comment.User.Username}}</a>
                                            </span>
                                            <span class="date text-grey ml-2">{{$comment.CreatedAt.Unix | strtime}}</span>
                                        </div>
                                        <div class="text-right text-grey">
                                            <style>
                                                .haya-comment-like .haya-comment-like-loved {
                                                    color: var(--secondary) !important;
                                                }
                                            </style>
                                            <span class="floor-parent">
                                                <span class="floor mr-0">{{$index | plus1}}</span>楼
                                            </span>
                                        </div>
                                    </div>
                                    <div class="message mt-1 break-all">
                                        {{$comment.Message | unescaped}}
                                    </div>
                                </div>
                            </li>
                            {{end}}

                            {{if .sessions.Username}}
                            <li class="comment newcomment media">
                                <a href="/my.html" class="mr-3" tabindex="-1">
                                    <img class="avatar-3" src="{{.sessions.Useravatar}}">
                                </a>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between small text-muted">
                                        <div>
                                            <div>{{.sessions.Username}}</div>
                                        </div>
                                        <div>
                                            <span class="floor" id="newfloor">回复</span>上楼 </div>
                                    </div>
                                    <div>
                                        <form action="/api/saying/{{.saying.ID}}/comment" method="post" id="quick_reply_form" class="d-block">
                                            <input type="hidden" id="quotetid" name="sayingid" value="{{.saying.ID}}">
                                            <input type="hidden" id="docutype" name="docutype" value="0">
                                            <div class="message mt-1">
                                                <textarea class="form-control" id="editor1" placeholder="内容" name="message"></textarea>
                                            </div>
                                            {{/*<br>*/}}
                                            {{ template "layout/captcha" .}}
                                            <div class="text-muted mt-2 small">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <button id="commentsubmit" type="button" class="btn btn-sm btn-secondary" id="submit" data-loading-text="正在提交..."> 回复 </button>
                                                    </div>
                                                    <div>
                                                        <a class="icon-mail-forward text-muted" href="#" id="advanced_reply"> 高级回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {{else}}
                            <li class="comment newcomment media">
                                <a role="button" class="btn btn-default btn-block xn-back col-lg-6 mx-auto mb-3" target="_blank" href="/login.html">登录可回复</a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="d-none sayinglist"><input type="checkbox" name="modtid" value="2" checked=""></div>
                {{if .islogin}}
                    {{ template "mod/saying_list_mod.inc" .}}
                {{end}}
                <a role="button" class="btn btn-secondary btn-block xn-back col-lg-6 mx-auto mb-3" href="javascript:history.back();">返回</a>
            </div>
            <div class="col-lg-3 d-none d-lg-block aside">
                {{ template "layout/addnewarticle" .}}
                {{/*用户信息*/}}
                <div class="card card-user-info">
                    <div class="m-3 text-center">
                        <a href="?user-1.htm" tabindex="-1">
                            <img class="avatar-5" src="{{.saying.User.Avatar}}">
                        </a>
                        <h5><a href="?user-1.htm">{{.saying.User.Username}}</a></h5>
                    </div>
                    <div class="card-footer p-2">
                        <table class="w-100 small">
                            <tbody>
                                <tr align="center">
                                    <td>
                                        <span class="text-muted">说说数</span><br>
                                        <b>{{.saying.User.SayingsCnt}}</b>
                                    </td>
                                    <td>
                                        <span class="text-muted">评论数</span><br>
                                        <b>{{.saying.User.CommentsCnt}}</b>
                                    </td>
                                    <td>
                                        <span class="text-muted">注册排名</span><br>
                                        <b>{{.saying.User.ID}}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{.isfav}}

<script>
CKEDITOR.replace('message', {
    language: 'zh-cn',
    disallowedContent: '<script >',
    toolbarStartupExpanded: false,
    toolbar: [],
    height: '8rem',
    resize_minHeight: '5rem',
});

var qrform = $("#quick_reply_form")
var jsubmit = $('#commentsubmit');
jsubmit.on('click', function() {
    

    if (CKEDITOR.instances.editor1.getData().length == 0) {
        $.alert("亲，写点什么再提交吧 ^_^")
        return;
    }

    // 验证验证码
    var captcha = getCaptcha()
    var captchaKey = getCaptchaKey()
    captchaPass = virefyCaptcha(captcha, captchaKey)
    if (captcha.length == 0) {
        $.alert("验证码不能为空")
        return
    } else {
        if (captchaPass != 200 ) {
            $.alert("验证码错误")
            refreshCaptcha();
            return
        }
    }

    qrform.reset();
    jsubmit.button('loading');
    var replydata = qrform.serializeObject();
    replydata.message = CKEDITOR.instances.editor1.getData();
    console.log(replydata)

    $.xpost(qrform.attr('action'), replydata, function(code, message) {
        console.log(code, ":", message)
        if(code == 200) {
            $.alert("回复成功")
            setTimeout(function () {
                // addNewCommentElement()
                location.reload()
            }, 2000)
        } else if(code < 0) {
            $.alert(message);
            jsubmit.button('reset');
        } else {
            jform.find('[name="'+code+'"]').alert(message).focus();
            jsubmit.button('reset');
        }
    });

    return false;
});

function addNewCommentElement() {
    var jsubmit = $('#commentsubmit')
    var s = '<ul>' +
        '<li class="media comment" data-pid="5" data-uid="2">' +
            '<a href="?user-2.htm" class="mr-3" tabindex="-1">' +
                '<img class="avatar-3" src="upload/avatar/000/2.png?1563802634"> ' +
            '</a>' +
            '<div class="media-body">' +
                '<div class="d-flex justify-content-between small text-muted">' +
        '           <div> ' +
                        '<span style="padding-bottom:0;margin-bottom:0;color:; ">' +
                            '<i class="iconfont icon-v1" style="font-size: !important;">管理员 </i> ' +
                        '</span>' +
                        '<span class="username">' +
                            '<a href="?user-2.htm" class="text-muted font-weight-bold">zhang</a>' +
                        '</span>' +
                        '<span class="date text-grey ml-2">2小时前</span>' +
                    '</div> ' +
                 '<div class="text-right text-grey"> ' +
                     '<style>.haya-comment-like .haya-comment-like-loved {color: var(--secondary) !important;}</style> ' +
                        '<a href="javascript:void(0)" data-tid="1" data-pid="5" class="text-grey comment_reply mr-3">' +
                            '<i class="icon-reply" title="引用"></i> ' +
                            '<span class="d-none">引用</span>' +
                        '</a> ' +
                        '<a href="?comment-update-5.htm" class="text-grey comment_update mr-3">' +
                            '<i class="icon-edit" title="编辑"></i> ' +
                            '<span class="d-none">编辑</span>' +
                        '</a> ' +
                        '<a data-href="?comment-delete-5.htm" data-confirm-text="确定删除吗？" href="javascript:void(0);" class="text-grey comment_delete _confirm mr-3">' +
                            '<i class="icon-remove" title="删除"></i> ' +
                            '<span class="d-none">删除</span>' +
                        '</a> ' +
                        '<span class="floor-parent"> ' +
                            '<span class="floor mr-0">5</span>楼 ' +
                        '</span>' +
                    '</div>' +
                '</div>' +
                '<div class="message mt-1 break-all"><p>玩儿翁</p> ' +
                '</div>' +
            '</div> ' +
        '</li>' +
        '</ul>';

    var jli = $(s).find('li');
    jli.insertBefore($('.commentlist > .comment').last());
    jsubmit.button('reset');

    // 楼层 +1
    var jfloor = $('#newfloor');
    jfloor.html(xn.intval(jfloor.html()) + 1);

    // 回复数 +1
    var jcomments = $('.comments');
    jcomments.html(xn.intval(jcomments.html()) + 1);
}

function myfavourite(tid, ele) {
    var fd = new FormData()
    fd.append("sayingid", tid)
    $.ajax({
        url: "/api/saying/"+tid+"/favourite",
        data: fd,
        type: "POST",
        contentType: false,
        processData:false,
        success: function(res) {
            //成功
            console.log(res)
            // return
            if (res.code == 200) {
                if (res.data.action==1) {
                    $(ele).removeClass('js-haya-favorite-add')
                        .addClass('js-haya-favorite-del')
                        .attr('title', '取消收藏');

                    $(ele).find(".icon").removeClass('icon-star-o')
                        .addClass('icon-star')
                        .attr("aria-label", '取消收藏');

                    $(ele).find(".haya-favorite-btn")
                        .text('取消');

                    $(".haya-favorite-show-users").find(".haya-favorite-users").html([]);
                    $(".haya-favorite-user-count").text(res.data.fav_num);
                } else {
                    $(ele).removeClass('js-haya-favorite-del')
                        .addClass('js-haya-favorite-add')
                        .attr('title', '收藏');

                    $(ele).find(".icon").removeClass('icon-star')
                        .addClass('icon-star-o')
                        .attr("aria-label", '收藏');

                    $(ele).find(".haya-favorite-btn")
                        .text('收藏');

                    $(".haya-favorite-show-users").find(".haya-favorite-users").html([]);
                    $(".haya-favorite-user-count").text(res.data.fav_num);
                }
            } else {
                $.alert(res.message)
                return
            }
        }
    })
}


$("#advanced_reply").on("click", function () {
    

    location.href = "/saying/{{.saying.ID}}/acomment.html"
})
</script>
{{ template "layout/footer" .}}
