{{ template "layout/header" .}}
<!-- ==================== blog-section start ==================== -->
<section id="blog-section" class="blog-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col s12 m8 l8">
				{{$isadmin := .sessions.Isadmin}}
                {{$sesid := .sessions.Userid}}
                {{ range .articleList }}
                <div class="blogs mb-30">
                    <div class="card">
                        <div class="card-content w100dt">                                                     
                            <ul class="post-mate-time left">
								<a href="/article/{{.ID}}/detail.html" class="card-title">{{.Title}}</a> 
                                <li>
                                    <p class="hero left"> By - <a href="{{if eq .User.ID $sesid}} /my.html {{else}}/user/{{.User.ID}}/info.html{{end}}" class="l-blue">{{.User.Username}}</a></p>
                                </li>
                                <li>
									<i class="icofont icofont-ui-calendar"></i>{{.CreatedAt.Unix | strtime}}
								</li>
                            </ul>
                            <ul class="post-mate right">
								<br>
                                <li class="like">
                                    <a href="#">
                                        <i class="icofont icofont-eye-alt"></i> {{.ViewsCnt}}</a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <i class="icofont icofont-comment"></i>{{.ReplysCnt}}</a>
                                </li>
                            </ul>                                
                        </div>                       
                        <!-- /.card-content -->
                    </div>                  
                    <!-- /.card -->
                </div>
                {{end}}
				<!-- /.blogs -->
				<nav class="my-3">
					<ul class="pagination justify-content-center flex-wrap">
						{{.pages | unescaped}}
					</ul>
				</nav>
			</div>
			<!-- colm8 -->
			<div class="col s12 m4 l4">
				{{ template "layout/addnewarticle" .}}
				<br>
				{{ template "layout/sidebar" }}
			</div>
			<!-- colm4 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#blog-section -->
<!-- ==================== blog-section end ==================== -->
{{ template "layout/footer" }}
