{{ template "layout/header" .}}
<!-- ==================== blog-section start ==================== -->
<section id="blog-section" class="blog-section w100dt mb-50">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l8">
                {{$isadmin := .sessions.Isadmin}}
                {{$sesid := .sessions.Userid}}
                {{ range .commentList }}
                <div class="blogs mb-30">
                    <div class="card">
                        <div class="card-content w100dt">
                            <div class="left">
								<a href="{{if eq .User.ID $sesid}} /my.html {{else}}/user/{{.User.ID}}/info.html{{end}}">
									<img style="height: 40px; width: 40px;" src="{{.User.Avatar}}" alt="Image">
								</a>
							</div>
                            <ul>
                                <li>
                                    <ul class="post-mate-time left">
                                        <li>
                                            <p class="hero left">
                                                &nbsp;&nbsp;&nbsp; By - <a href="{{if eq .User.ID $sesid}} /my.html {{else}}/user/{{.User.ID}}/info.html{{end}}" class="l-blue">{{.User.Username}}</a>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="icofont icofont-ui-calendar"></i>&nbsp;{{.CreatedAt.Unix | strtime}}</li>
                                    </ul>
                                    <ul>&nbsp;&nbsp;&nbsp;
										<a href="/saying/{{.SayingID}}/detail.html">
											{{$length := len .MessageFmt}}
											{{if ge $length 35}}
												{{truncate .MessageFmt 35 | unescaped}}...
											{{else}}
												{{.MessageFmt | unescaped}}
											{{end}}
										</a>   
                                    </ul>
                                </li>  
                            </ul>
                        </div>
                        <!-- /.card-content -->
                    </div>
                    <!-- /.card -->
                </div>
                {{end}}
                <!-- /.blogs -->
                <nav class="my-3">
					<ul class="pagination justify-content-center flex-wrap">
						{{.pages | unescaped}}
					</ul>
				</nav>
            </div>
            <!-- colm8 -->
            <div class="col s12 m4 l4">
				{{ template "layout/addnewarticle" .}}
				<br>
                {{ template "layout/sidebar" }}
            </div>
            <!-- colm4 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- /#blog-section -->
<!-- ==================== blog-section end ==================== -->
{{ template "layout/footer" }}
