{{ template "layout/header" .}}
<!-- ==================== error-section start ==================== -->
<section id="error-section" class="error-section w100dt mb-50">
	<div class="container">
		<nav class="breadcrumb-nav w100dt">
			<div class="page-name hide-on-small-only left">
				<h4>404 ERROR</h4>
			</div>
			<div class="nav-wrapper right">
				<a href="/" class="breadcrumb">Home</a>
				<a href="404.html" class="breadcrumb active">404 ERROR</a>
			</div>
			<!-- /.nav-wrapper -->
		</nav>
		<br>
		<div class="error-contant center-align">
			<h2 class="error-head-title">404</h2>
			<p> It looks like that page no longer exists. Would you like to go to <a href="/">Home</a> instead?
			</p>
		</div>
		<!-- /.error-contant -->
	</div>
	<!-- container -->
</section>
<!-- /#error-section -->
<!-- ==================== error-section end ==================== -->
{{ template "layout/footer" }}