{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col m9 s12">
				<div class="sidebar-title left-align">
					<a href="/my.html"><h2>个人资料</h2></a>
				</div>
				<div class="contact-me">
					<div class="row">
						<div class="col m6 s12">
							<div class="ppic left">
								<img src="{{.sessions.Useravatar}}" alt="Image">
								<h4>{{.sessions.Username}}</h4>
							</div>
							<div class="contact-things">
								
								<div class="c-text p-0">
									
									<form id="form" action="/api/user/{{.sessions.Userid}}/avatar/reset" enctype="multipart/form-data">
										<div class="form-group custom-file">
											<input type="file" name="avatar" id="avatar_upload" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
											 class="upload custom-file-input" value="头像">
											<label class="custom-file-label" for="customFile">选择文件</label>
										</div>
									</form>
									<div class="progress mt-2">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
										 aria-valuemin="0" aria-valuemax="100" style="width: 0%; display: none;" id="avatar_progress"></div>
									</div>							
								</div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
			<!-- colm9 -->
			<div class="col m3 s12">
				<div class="sidebar-title left-align">
					<h2>Get Social</h2>
				</div>
				<ul class="social-link">
					<li>
						<a href="#" class="facebook">
							<span class="s-icon left"><i class="icofont icofont-social-facebook"></i></span>
							<span class="s-name">Facebook</span>
							<span class="s-likes right">53K</span>
						</a>
					</li>
					<li>
						<a href="#" class="twitter">
							<span class="s-icon left"><i class="icofont icofont-social-twitter"></i></span>
							<span class="s-name">Twitter</span>
							<span class="s-likes right">652</span>
						</a>
					</li>
					<li>
						<a href="#" class="google-plus">
							<span class="s-icon left"><i class="icofont icofont-social-google-plus"></i></span>
							<span class="s-name">Google+</span>
							<span class="s-likes right">25K</span>
						</a>
					</li>
					<li>
						<a href="#" class="instagram">
							<span class="s-icon left"><i class="icofont icofont-social-instagram"></i></span>
							<span class="s-name">Instagram</span>
							<span class="s-likes right">10K</span>
						</a>
					</li>
					<li>
						<a href="#" class="dribbble">
							<span class="s-icon left"><i class="icofont icofont-social-dribbble"></i></span>
							<span class="s-name">Dribbble</span>
							<span class="s-likes right">543</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- colm3 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->
<script>
	var jform = $("#form");
	var uploader = $("#avatar_upload");
	uploader.on('change', function() {
		var fd = new FormData()
		image = $('#avatar_upload')[0].files[0]
		fd.append("avatar", image)
		$.ajax({
			url: jform.attr("action"),
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					$.alert("修改成功")
					setTimeout(function() {
						location.reload()
					}, 1000)
				} else {
					$.alert(res.message)
					return
				}
			}
		})
	});
</script>
{{ template "layout/footer" .}}
