{{ template "layout/header" .}}
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">			
			<nav class="breadcrumb-nav w100dt">
				<div class="center" role="group">
					<a class="btn active" href="/my_favorite.html">我的收藏</a>
					<a class="btn-flat active" href="/my_article.html">我的文章</a>
					<a class="btn-flat active" href="/my_reply.html">我的回复</a>
					<a class="btn-flat active" href="/my_saying.html">我的说说</a>
					<a class="btn-flat active" href="/my_comment.html">我的评论</a>
				</div>
			</nav>
		</div><br>
		<div class="row">
			<div class="col m9"><br>
				<div class="card">
					<div class="table-responsive">
						<table class="table" style="min-width: 800px">
							<thead>
								<tr>
									<th></th>
									<th width="60"><h5>序号</h5></th>
									<th width="120"><h5>作者ID</h5></th>
									<th width="180"><h5>标题</h5></th>
									<th width="180"><h5>发表时间</h5></th>
									<th width="70"><h5>浏览数</h5></th>
									<th width="70"><h5>回复数</h5></th>
									<th width="80"><h5>被收藏数</h5></th>
									<th width="80"><h5>取消收藏</h5></th>
								</tr>
							</thead>
							<tbody id="userlist">
								{{range .articles}}
								<tr uid="{{.ID}}">
									<td></td>
									<td>{{.ArticleID}}</td>
									<td uid="{{.User.ID}}">{{.Article.UserID}}</td>
									<td><a href="/article/{{.ArticleID}}/detail.html">{{.Article.Title}}</a></td>
									<td>{{.Article.CreatedAt.Format "2006.01.02  15:04:05"}}</td>
									<td>{{.Article.ViewsCnt}}</td>
									<td>{{.Article.ReplysCnt}}</td>
									<td>{{.Article.FavouriteCnt}}</td>
									<td>
										<a href="javascript:;" onclick="myfavourite({{.ArticleID}})" title="取消收藏" data-tid="1">
										   取消收藏
									   </a>
									</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{{ template "my/sidebar" }}
		</div>
	</div>
</section><br>

<script>
	function myfavourite(tid) {
		console.log(tid);
		var fd = new FormData()
		fd.append("articleid", tid)
		$.ajax({
			url: "/api/article/" + tid + "/favourite",
			data: fd,
			type: "POST",
			contentType: false,
			processData: false,
			success: function(res) {
				//成功
				console.log(res)
				// return
				if (res.code == 200) {
					$(".articlelist").find("li[data-tid=" + tid + "]").remove()
					alert('取消收藏成功')
					setTimeout(function() {
					location.reload()
				}, 500)
				} else {
					alert(res.message)
					return
				}
			}
		})
	}
</script>
{{ template "layout/footer" .}}
