{{ template "layout/header" .}}
<main id="body">
	<div class="container">
		<div class="row">
			<!-- 左侧菜单 -->
			<div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
				<div class="card">
					<div class="card-body text-center">
						<img class="avatar-4" src="{{.sessions.Useravatar}}">
						<br>{{.sessions.Username}}
					</div>
					<div class="list-group list-group-flush text-center">
						<a href="/my.html" class="list-group-item list-group-item-action active" data-active="menu-my">个人资料</a>
						<a href="/my_article.html" class="list-group-item list-group-item-action" data-active="menu-my-article">文章回复</a>
					</div>
				</div>
			</div>
			<!-- 右侧内容 -->
			<div class="col-lg-10" id="my_main">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link  active" href="/my.html" data-active="my_profile">基本资料</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/my_password.html" data-active="my_password">密码</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/my_avatar.html" data-active="my_avatar">头像</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/my_rename.html" data-active="my_rename">更改用户名</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="row line-height-4">
							<div class="col-md-4">
								<span class="text-muted">文章数：</span>{{.userinfo.ArticlesCnt}}<br>
								<span class="text-muted">回复数：</span>{{.userinfo.ReplysCnt}}<br>
								<span class="text-muted">收藏数：</span><a href="?my-favorites.htm" target="_blank">{{.userinfo.FavouriteCnt}}</a><br>
							</div>
							<div class="col-md-4">
								<span class="text-muted">说说数：</span>{{.userinfo.SayingsCnt}}<br>
								<span class="text-muted">评论数：</span>{{.userinfo.CommentsCnt}}<br>
							</div>
							<div class="col-md-4">
								<span class="text-muted">注册时间：</span>{{.userinfo.CreatedAt.Format "2006-01-02"}}<br>
								<span class="text-muted">上次登录：</span>{{.userinfo.LoginDate.Format "2006-01-02"}} <br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{ template "layout/footer" .}}
