{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col m9 s12">
				<div class="sidebar-title left-align">
					<a href="/my.html"><h2>个人资料</h2></a>
				</div>
				<div class="contact-me">
					<div class="row">
						<div class="col m6 s12">
							<div class="ppic left">
								<img src="{{.sessions.Useravatar}}" alt="Image">
								<h4>{{.sessions.Username}}</h4>
							</div>
							<div class="contact-things">
								
								<div class="c-text p-0">
									<div class="card-body">
										<div class="col-lg-6 mx-auto">
											<form action="/api/user/{{.sessions.Userid}}/name/reset" method="post" id="form">
												<div class="form-group input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="icon icon-user icon-fw"></i></span>
													</div>
													<input type="text" class="form-control" placeholder="当前用户名→{{.sessions.Username}}" name="old_username" id="old_username"
													 disabled="">
												</div>
												<div class="form-group input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="icon icon-user icon-fw"></i></span>
													</div>
													<input type="text" class="form-control" placeholder="请输入新用户名" name="user_name" id="new_username">
												</div>
												<div>
													<button type="button" class="btn btn-primary btn-block" id="submit" data-loading-text="正在提交...">重置用户名</button>
												</div>
											</form>
										</div>
									</div>				
								</div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
			<!-- colm9 -->
			<div class="col m3 s12">
				<div class="sidebar-title left-align">
					<h2>Get Social</h2>
				</div>
				<ul class="social-link">
					<li>
						<a href="#" class="facebook">
							<span class="s-icon left"><i class="icofont icofont-social-facebook"></i></span>
							<span class="s-name">Facebook</span>
							<span class="s-likes right">53K</span>
						</a>
					</li>
					<li>
						<a href="#" class="twitter">
							<span class="s-icon left"><i class="icofont icofont-social-twitter"></i></span>
							<span class="s-name">Twitter</span>
							<span class="s-likes right">652</span>
						</a>
					</li>
					<li>
						<a href="#" class="google-plus">
							<span class="s-icon left"><i class="icofont icofont-social-google-plus"></i></span>
							<span class="s-name">Google+</span>
							<span class="s-likes right">25K</span>
						</a>
					</li>
					<li>
						<a href="#" class="instagram">
							<span class="s-icon left"><i class="icofont icofont-social-instagram"></i></span>
							<span class="s-name">Instagram</span>
							<span class="s-likes right">10K</span>
						</a>
					</li>
					<li>
						<a href="#" class="dribbble">
							<span class="s-icon left"><i class="icofont icofont-social-dribbble"></i></span>
							<span class="s-name">Dribbble</span>
							<span class="s-likes right">543</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- colm3 -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->
<script>
	var jform = $('#form');
	var jsubmit = $('#submit');
	var jnewname = $('#new_username');
	jnewname.on('blur', function() {
		$.ajax({
			url: "/api/checkname",
			data: {
				"username": jnewname.val()
			},
			type: "GET",
			success: function(res) {
				//成功
				console.log(res.data.is_used)
				used = res.data.is_used
				if (used == 1) {
					console.log("使用了")
					alert("用户名已经用了")
					jsubmit.button('reset');
					jsubmit.attr("disabled", true)
				} else {
					jform.find('[name="new_username"]').focus().alert("可用");
					jsubmit.attr("disabled", false)
				}
			}
		})
	})
	jsubmit.on('click', function() {
		jform.reset();
		jsubmit.button('loading');
		var replydata = jform.serializeObject();
		$.xpost(jform.attr('action'), replydata, function(code, message) {
			if (code == 200) {
				$.alert("修改成功")
				setTimeout(function() {
					location.reload()
				}, 1000)
			}
		});
		return false;
	});
</script>
{{ template "layout/footer" .}}
