{{ define "my/sidebar" }}
<div class="col m3 s12">
    <ul class="social-link">
        <li>
            <a href="#" class="facebook">
                <span class="s-icon left"><i class="icofont icofont-social-facebook"></i></span>
                <span class="s-name">Facebook</span>
                <span class="s-likes right">53K</span>
            </a>
        </li>
        <li>
            <a href="#" class="twitter">
                <span class="s-icon left"><i class="icofont icofont-social-twitter"></i></span>
                <span class="s-name">Twitter</span>
                <span class="s-likes right">652</span>
            </a>
        </li>
        <li>
            <a href="#" class="google-plus">
                <span class="s-icon left"><i class="icofont icofont-social-google-plus"></i></span>
                <span class="s-name">Google+</span>
                <span class="s-likes right">25K</span>
            </a>
        </li>
        <li>
            <a href="#" class="instagram">
                <span class="s-icon left"><i class="icofont icofont-social-instagram"></i></span>
                <span class="s-name">Instagram</span>
                <span class="s-likes right">10K</span>
            </a>
        </li>
        <li>
            <a href="#" class="dribbble">
                <span class="s-icon left"><i class="icofont icofont-social-dribbble"></i></span>
                <span class="s-name">Dribbble</span>
                <span class="s-likes right">543</span>
            </a>
        </li>
    </ul>
</div>
<!-- colm3 -->
{{end}}