{{ template "layout/adminheader" .}}
<section id="contact-section" class="contact-section w100dt mb-50">
    <div class="container">
        <div class="row">
            <div class="col m4 s12"></div>
            <div class="col m4 s12">
                <div class="contact-me">
                    <div class="sidebar-title center-align">
						<h2><i class="icofont icofont-key-hole"></i>管理员登录</h2>
                    </div>
                    <hr><br>
                    <div class="row">
                        <div class="col m12 s12">
                            <form class="contact-form" action="/admin/login" method="post" id="form">
								<h5>需要再次输入密码</h5><br>
								<label for="password">密码</label>
                                <div class="contact-input">
                                    <input type="password" id="password" name="password"  class="validate">
                                </div>
                                <button type="button" class="waves-effect waves-light right" id="submit">登录</button>
                            </form>
                            <!-- /.contact-things -->
                        </div>
                        <!-- colsm6 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- /.contact-me -->
            </div>
            <!-- colm9 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<script>
	if (admintoken) {
		$.ajax({
			url: "/admin/index.html?token=" + admintoken,
			type: "GET",
			async: false,
			success: function(res) {
				console.log(res.status)
			}
		})
	}
	var jform = $('#form');
	var jsubmit = $('#submit');
	jsubmit.on('click', function() {
		jform.reset();
		jsubmit.button('loading');
		var replydata = jform.serializeObject();
		// replydata.password = $.md5(replydata.password);
		console.log(replydata);
		$.ajax({
			url: jform.attr("action"),
			data: replydata,
			type: "POST",
			success: function(res) {
				//成功
				console.log(res)
				if (res.code == 200) {
					admintoken = res.data.token
					if (admintoken.length != 0) {
						sessionStorage.setItem("admin_token", admintoken)
						$.alert("管理员登录成功")
						setTimeout(function() {
							location.href = "/admin/index.html?token=" + admintoken
						}, 500)
					} else {
						$.alert("获取token失败")
						return
					}
				} else {
					$.alert(res.message)
					setTimeout(function() {
						location.reload()
					}, 500)
					return
				}
			}
		})
		return false;
	});
</script>
{{ template "layout/adminfooter" .}}
