{{ template "layout/adminheader" .}}
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">			
			<nav class="breadcrumb-nav w100dt">
				<div class="center" role="group">
					<a class="btn-flat active" href="/admin/index.html">后台首页</a>
					<a class="btn active" href="/admin/user/list.html">用户列表</a>
					<a class="btn-flat active" href="/admin/user/create.html">创建用户</a>
				</div>
			</nav>
		</div><br>
		<div class="row">
			<div class="card">
				<div class="table-responsive">
					<table class="table" style="min-width: 800px">
						<thead>
							<tr>
								<th width="60"><h5>序号</h5></th>
								<th width="120"><h5>用户名</h5></th>
								<th width="80"><h5>用户组</h5></th>
								<th width="200"><h5>注册时间</h5></th>
								<th width="70"><h5>文章数</h5></th>
								<th width="70"><h5>回复数</h5></th>
								<th width="80"><h5>说说数</h5></th>
								<th width="80"><h5>评论数</h5></th>
								<th width="80"><h5>收藏数</h5></th>
								<th width="80"><h5>登录数</h5></th>
								<th width="120"><h5>创建IP</h5></th>
								<th width="80"><h5>登录IP</h5></th>
								<th width="80"><h5>编辑</h5></th>
								<th width="80"><h5>删除</h5></th>
							</tr>
						</thead>
						<tbody id="userlist">
							{{$sesid := .sessions.Userid}}
							{{range .users}}
							<tr uid="{{.ID}}">
								<td>{{.ID}}</td>
								<td uid="{{.ID}}">
									<a href="{{if eq .ID $sesid}} /my.html {{else}}/user/{{.ID}}/info.html{{end}}" class="l-blue">
										{{.Username}}
									</a>
								</td>
								<td>{{if eq .GroupID 0}}游客{{else}}{{.Group.Name}}{{end}}</td>
								<td>{{.CreatedAt.Format "2006.01.02  15:04:05"}}</td>
								<td>{{.ArticlesCnt}}</td>
								<td>{{.ReplysCnt}}</td>
								<td>{{.SayingsCnt}}</td>
								<td>{{.CommentsCnt}}</td>
								<td>000</td>
								<td>{{.LoginsCnt}}</td>
								<td>{{.CreateIp}}</td>
								<td>000</td>
								<td><a href="/admin/user/edit.html?id={{.ID}}">编辑</a></td>
								<td><a onclick="delet(this, {{.ID}})" href="#">删除</a></td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	function delet(elem, userid) {
		$.ajax({
			url: "/api/user/" + userid + "/delete?token=" + admintoken,
			data: {
				"tidarr": userid,
			},
			method: "post",
			success: function(res) {
				if (res.code == 200) {
					$(elem).parent().parent().parent().parent().parent().remove()
					$.alert("用户删除成功 ！")
					setTimeout(function () {
                        location.reload()
                    }, 500)
				} else {
					$.alert(res.message)
				}
			}
		})
	}
	$('#nav li.nav-item-article').addClass('active');
</script>
{{ template "layout/adminfooter" .}}
