{{ define "layout/adminheader" }}
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{.description}}">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<title>后台管理</title>
		<!-- css include -->
		<link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
		<link rel="stylesheet" type="text/css" href="/static/css/icofont.css">
		<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.min.css">
		<!-- my css include -->
		<link rel="stylesheet" type="text/css" href="/static/css/custom-menu.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
		<!-- js -->
		<script src="/static/js/jquery-3.1.0.js?1.0"></script>
		<script src="/static/js/popper.js?1.0"></script>
		<script src="/static/js/bootstrap.js?1.0"></script>
		<script src="/static/js/xiuno.js?1.0"></script>
		<script src="/static/js/bootstrap-plugin.js?1.0"></script>
		<script src="/static/js/async.js?1.0"></script>
		<script src="/static/js/form.js?1.0"></script>
		<script src="/static/js/bbs.js?1.0"></script>
		<script src="/static/js/lang.js?1.0"></script>
	</head>
	<body>
		<!-- ==================== header-section Start ==================== -->
<header id="header-section" class="header-section w100dt navbar-fixed">
	<nav class="nav-extended main-nav">
		<div class="container">
			<div class="row">
				<div class="nav-wrapper w100dt">
					<div class="logo left">
						<a href="/" class="brand-logo">
							<img src="/static/img/logo.png" alt="brand-logo">
						</a>
					</div>
					<!-- logo -->
					<div>
						<a href="#" data-activates="mobile-demo" class="button-collapse">
							<i class="icofont icofont-navigation-menu"></i>
						</a>
						<ul id="nav-mobile" class="main-menu center-align hide-on-med-and-down">
							<li><a href="/admin/index.html">首页</a></li>
							<li><a href="/admin/article/list.html?type=1&status=0">文章</a></li>
							<li><a href="/admin/saying/list.html?type=1&status=0">说说</a></li>
							<li><a href="/admin/user/list.html">用户</a></li>
							<li><a href="/">前台</a></li>
							<li><a id="adminlogout" href="#">退出</a></li>
														
						</ul>
						<!-- /.main-menu -->
						<!-- ******************** sidebar-menu ******************** -->
						<ul class="side-nav" id="mobile-demo">
							<li class="snavlogo center-align"><img src="/static/img/logo.png" alt="logo"></li>
							<li class="active"><a href="/">HOME</a></li>
							<li><a href="/articles">文章</a></li>
							<li><a href="/sayings">说说</a></li>
							{{if .islogin}}
							<li><a href="/my.html">{{.sessions.Username}}</a></li>
							{{if eq .sessions.Isadmin "1"}}
							<li><a id="adminindex" href="/admin/index.html">后台管理</a></li>
							{{end}}
							<li><a id="logout" href="#">退出</a></li>
							{{else}}
							<li><a href="/login.html">登录</a></li>
							{{end}}
						</ul>
					</div>
					<!-- main-menu -->
				</div>
				<!-- /.nav-wrapper -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</nav>
</header>
<!-- /#header-section -->
<!-- ==================== header-section End ==================== -->
<!-- ==================== blog-slider-section start ==================== -->
<section id="blog-slider-section" class="blog-slider-section w100dt mb-40">
</section>
<!-- /#blog-slider-section -->
<!-- ==================== blog-slider-section end ==================== -->
		<script>
			admintoken = sessionStorage.getItem("admin_token")
			$("#adminlogout").on('click', function() {
				sessionStorage.removeItem("admin_token")
				$.alert("管理员退出登录")
				setTimeout(function() {
					location.href = "/admin/login.html"
				}, 1000)
			})
		</script>
		{{ end }}
