{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col m9 s12">
				<div class="sidebar-title left-align">
					<a href="/my.html"><h2>个人资料</h2></a>
				</div>
				{{$sesid := .sessions.Userid}}
				<div class="contact-me">
					<div class="row">
						<div class="col m6 s12">
							<div class="ppic left">
								<img src="{{.sessions.Useravatar}}" alt="Image">
								<h4>{{.sessions.Username}}</h4>
							</div>
							<div class="contact-things">
								
								<div class="c-text p-0">
									<div class="card-body">
										<ul class="list-unstyled articlelist">
											{{range .myarticles}}
											<li class="media article tap top_3 " data-href="/article/{{.ID}}/detail.html" data-tid="1">
												<!-- <a href="{{if eq .UserID $sesid}} /my.html {{else}}/user/{{.UserID}}/info.html{{end}}" tabindex="-1" class="ml-1 mt-1 mr-3">
													<img class="avatar-3" src="{{.User.Avatar}}">
												</a> -->
												<div class="media-body">
													<div class="title break-all">
														<i class="icon-top-3"></i>
														<a href="/article/{{.ID}}/detail.html"><span class="huux_article_hlight_style1">{{.Article.Title}}</span></a>
													</div>
													<div class="d-flex justify-content-between small mt-1">
														<div>
															<span style="padding-bottom:0;margin-bottom:0;color:; ">
																<i class="iconfont icon-v1" style="font-size: !important;"></i>
															</span>
															<span class="username text-grey mr-1  hidden-sm" uid="{{.User.ID}}">{{.User.Username}}</span>
															<span class="date text-grey hidden-sm">{{.Article.CreatedAt.Unix | strtime}}</span>
														</div>
														<div class="text-muted small">
															<span class="ml-2"><i class="icon-eye"></i>{{.Article.ViewsCnt}}</span>
															<span class="ml-2"><i class="icon-comment-o"></i>{{.Article.ReplysCnt}}</span>
															<span class="ml-2" title="0 收藏">
																<i class="icon-star-o" aria-hidden="true"></i>{{.Article.FavouriteCnt}}</span>
														</div>
													</div>
												</div>
											</li>
											{{end}}
										</ul>
									</div>				
								</div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
			<!-- colm9 -->
			
			
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->

{{ template "layout/footer" .}}
