{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">			
			<nav class="breadcrumb-nav w100dt">
				<div class="center" role="group">
					<a class="btn active" href="#">用户资料</a>
				</div>
			</nav>
		</div><br>
		<div class="row">
			<div class="col m9 s12">	
				<div class="contact-me">
					<div class="row">
						<div class="col m2 s12"></div>
						<div class="col m8 s12">
							<div class="contact-things">
								<div class="c-text p-0">
									<span class="text-muted">用户头像：</span>&nbsp;
									<div class="right">
									<img src="{{.userinfo.Avatar}}" alt="Image" style="height: 120px; width: 120px;">
									</div>
								</div>
								<div class="c-text p-0"><br>
									<span class="text-muted">用户名：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.Username}}<br>
									<span class="text-muted">收藏数：</span><a href="?my-favorites.htm" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.FavouriteCnt}}</a><br>
									<span class="text-muted">文章数：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.ArticlesCnt}}<br>
									<span class="text-muted">回复数：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.ReplysCnt}}<br>
									<span class="text-muted">说说数：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.SayingsCnt}}<br>
									<span class="text-muted">评论数：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.userinfo.CommentsCnt}}<br>							
									<span class="text-muted">注册时间：</span>&nbsp;&nbsp;{{.userinfo.CreatedAt.Format "2006-01-02"}}<br>
									<span class="text-muted">上次登录：</span>&nbsp;&nbsp;{{.userinfo.LoginDate.Format "2006-01-02"}}<br>								
								</div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
			<!-- colm9 -->
			{{ template "my/sidebar" }}
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->
{{ template "layout/footer" .}}
