{{ template "layout/header" .}}
<!-- ==================== contact-section start ==================== -->
<section id="contact-section" class="contact-section w100dt mb-50">
	<div class="container">
		<div class="row">
			<div class="col m9 s12">
				<div class="sidebar-title left-align">
					<a href="/my.html"><h2>个人资料</h2></a>
				</div>
				<div class="contact-me">
					<div class="row">
						<div class="col m6 s12">
							<div class="ppic left">
								<img src="{{.sessions.Useravatar}}" alt="Image">
								<h4>{{.sessions.Username}}</h4>
							</div>
							<div class="contact-things">
								
								<div class="c-text p-0">
									<div class="card-body">
										<ul class="list-unstyled replylist">
											{{$sesid := .sessions.Userid}}
											{{range .replys}}
											<li class="media reply" data-pid="1" data-uid="1">
												<!-- <a href="{{if eq .UserID $sesid}} /my.html {{else}}/user/{{.UserID}}/info.html{{end}}" class="mr-3" tabindex="-1">
													<img class="avatar-3" src="{{.Article.User.Avatar}}">
												</a> -->
												<div class="media-body">
													<div class="d-flex justify-content-between small text-muted">
														<div>
															<span style="padding-bottom:0;margin-bottom:0;color:; ">
																<i class="iconfont icon-v1" style="font-size: !important;">
																	{{.Article.User.Group.Name}} </i>
															</span>
															<span class="username">
																<a href="{{if eq .UserID $sesid}} /my.html {{else}}/user/{{.UserID}}/info.html{{end}}" class="text-muted font-weight-bold">{{.Article.User.Username}}</a>
															</span>
															<span class="date text-grey ml-2">{{.Article.CreatedAt.Unix | strtime}}</span>
														</div>
													</div>
													<div class="message mt-1 break-all">
														<h6><a href="/article/{{.ID}}/detail.html" target="_blank">{{.Article.Title}}</a></h6>
														<p>{{.Reply.Message | unescaped}}</p>
													</div>
												</div>
											</li>
											{{end}}
										</ul>
									</div>				
								</div>
							</div>
						</div>
						<!-- colsm6 -->
					</div>
					<!-- row -->
				</div>
				<!-- /.contact-me -->
			</div>
			<!-- colm9 -->
			
			
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</section>
<!-- /#contact-section -->
<!-- ==================== contact-section end ==================== -->

<main id="body">
	<div class="container">
		<div class="row">
			<!-- PC 导航 / Mobile navigation -->
			<div class="col-lg-2 hidden-md hidden-sm" id="user_aside">
				<div class="card">
					<div class="card-body text-center">
						<img class="avatar-4" src="{{.userinfo.Avatar}}">
						<br>{{.userinfo.Username}}
					</div>
					<div class="list-group list-group-flush text-center" id="user_nav">
						<a href="/user/{{.userinfo.ID}}/info.html" class="list-group-item list-group-item-action" data-active="menu-user">个人资料</a>
						<a href="/user/{{.userinfo.ID}}/article.html" class="list-group-item list-group-item-action active" data-active="menu-user-article">文章回复</a>
					</div>
				</div>
			</div>
			<div class="col-lg-10" id="user_main">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link" href="/user/{{.userinfo.ID}}/article.html" data-active="user-article">文章</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/user/{{.userinfo.ID}}/reply.html" data-active="user-reply">回复</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</main>
{{ template "layout/footer" .}}
